$column-count : 12;

//font
$base-font-family 	: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, serif;
$base-font-size 	: 13px;
$base-line-height 	: 1.25;
$base-font-color 	: #111111;

//media query breakpoints
$mobile-only 	: '(max-width:599px)';
$tablet 		: '(min-width:600px)';
$tablet-only 	: '(min-width:600px) and (max-width:959px)';
$desktop 		: '(min-width:960px)';
$large-desktop 	: '(min-width:1200px)';

//base spacing : 16px
$base-spacing 	: 16px;
$spacing--xl	: rem($base-spacing * 2);
$spacing 		: rem($base-spacing * 1.5);
$spacing--md 	: rem($base-spacing);
$spacing--sm 	: rem($base-spacing / 1.3333333);
$spacing--xs 	: rem($base-spacing / 2);
$spacing--xxs 	: rem($base-spacing / 4);

//colors
$primary-blue			: #0788CA;
$primary-green			: #08871F;
$primary-red			: #D80000;
$primary-yellow			: #FFDD55;
$secondary-blue-grey	: #E4E8E8;
$secondary-blue-sky		: #D4E0E9;
$secondary-blue-sand	: #506070;
$secondary-green-dark	: #00642E;
$white					: #ffffff;
$black					: #111111;
$dark-grey				: #333333;
$grey					: #666666;
$light-grey				: #999999;
$border					: #CCCCCC;
$background				: #DDDDDD;
$pewter					: #EEEEEE;
$cloud					: #FAFAFA;

//borders
$border-radius	: 3px;
$border-color	: $border;
$border-width	: 1px;