$colors : (
	'primary-blue' 			: $primary-blue,
	'primary-green' 		: $primary-green,
	'primary-red' 			: $primary-red,
	'primary-yellow' 		: $primary-yellow,
	'secondary-blue-grey' 	: $secondary-blue-grey,
	'secondary-blue-sky' 	: $secondary-blue-sky,
	'secondary-blue-sand' 	: $secondary-blue-sand,
	'secondary-green-dark' 	: $secondary-green-dark,
	'white' 				: $white,
	'black' 				: $black,
	'dark-grey' 			: $dark-grey,
	'grey' 					: $grey,
	'light-grey' 			: $light-grey,
	'border' 				: $border,
	'background' 			: $background,
	'pewter' 				: $pewter,
	'cloud' 				: $cloud
);

@each $name, $color in $colors{ 
	.u-bg-color--#{$name}{
		background-color:$color!important;
	}
	.u-text-color--#{$name}{
		font-color:$color!important;
	}
	.u-border-color--#{$name}{
		border-color:$color!important;
	}
}