.u-float-left{
  float:left;
}
.u-float-right{
  float:right;
}
.u-float-none{
  float:none;
}

.u-clear-left{
  clear:left;
}
.u-clear-right{
  clear:right;
}
.u-clear-none{
  clear:none;
}
.u-clearfix{
  @include clearfix;
}

.u-display-block{
  display:block;
}
.u-display-inline{
  display:inline-block;
}
.u-display-none{
  display:none;
}

.u-hide-mobile{
  @include media('mobile-only') {
    display:none!important;
  }
}
.u-hide-tablet{
  @include media('tablet-only') {
    display:none!important;
  }
}
.u-hide-desktop{
  @include media('desktop') {
    display:none!important;
  }
}

.u-show-mobile{
  @include media('mobile-only') {
    display:block!important;
  }
}
.u-show-tablet{
  @include media('tablet-only') {
    display:block!important;
  }
}
.u-show-desktop{
  @include media('desktop') {
    display:block!important;
  }
}