.l-container{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	padding-left:$spacing--sm;
	padding-right:$spacing--sm;
	@include media('tablet') {
		padding-left:$spacing--md;
		padding-right:$spacing--md;
	}
	@include media('desktop') {
		padding-left:$spacing;
		padding-right:$spacing;
	}
}